@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);

.menu{
    padding: 100px 0 100px;
    background-image: url(../images/background_menu.svg);
    background-color: #fff;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;

}

.menu__title{
    text-align: center;
    margin: 0 0 24px;
    max-width: 780;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

}

.menu__subtitle{
    text-align: center;
    margin: 0 auto 100px;
    max-width: 780px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

}

.menu__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

.card{
    width: 540px;

}

.card__title{
    margin: 0 0 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

}

.card__list-item{
    margin: 0 0 16px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;

}

.card__list-divider{
    border-bottom: 1px solid black;
    flex-grow: 1;
}

.about{
    background-color: #0A2850;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
   

}

.about__title{
    max-width: 251px;
    padding: 100px 80px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    z-index: 1;
    margin: 0;

}

.about__content{
    padding: 119px 80px 173px;
    max-width: 660px;
    gap: 20px;
    font-family: "Noto Serif";
    font-style: normal;    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

}

.about__paragraph{
    margin: 20px 0 0;
}

.about__circle{
    background-color: #2f80ed;
    border-radius: 50%;
    height: 426px;
    width: 426px;
    position: absolute;
    left: -129px;
    top: -152px ;  
}

.about__circle_animation_blurred{
    background-color: #1e50b8;
  border-radius: 50%;
  height: 426px;
  width: 426px;
  position: absolute;
  left: -129px;
  top: -152px;
  filter: blur(5px);
  animation: 1.3s ease-in-out infinite;
}

@keyframes Pulsate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        transform: scale(1.2);
    }
}

.footer{
    padding: 60px 80px 60px;
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    color: #fff;
}

.footer__contents{
    display: flex;
    justify-content: space-between;

}

.footer__social_heading{
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 20px;

}

.footer__logo{
    width: 105px;
    height: 39px;

}

.footer__content_social{
    margin-left: 80px;
}

.footer__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__list-item{
    margin: 0 0 16px;

}

.footer__social_link{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    font-family: "Inter";
    font-style: normal; 
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

}

.footer__social_icon{
    height: 16px;
    width: 16px;
    gap: 16px;

}

.footer__copyright{
    margin: 108px 0 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.footer__list_item:last-child{
    margin-bottom: 0;
}

.footer__social_link:hover{
    color: #c1c1c1;
    transition: ease-in-out 1s;
}